@media (prefers-color-scheme: dark) {
	#root.root {
		--frame-bg: rgb(28 27 34 / 100%);
		--toolbar-bg: var(--frame-bg);
		--frame-fg: rgb(255 255 255 / 100%);

		--tabs-activated-shadow:
			0 1px 4px -1px rgb(0 0 0 / 28.2%), inset 0 0 0 1px rgb(255 255 255 / 20%);
		--nav-btn-active-shadow:
			inset 0 0 0 1px rgb(255 255 255 / 30%), 0 1px 3px 0 rgb(0 0 0 / 21.2%);
		--frame-el-overlay-hover-bg: rgb(255 255 255 / 12.5%);
	}
}

@media (prefers-color-scheme: light) {
	#root.root {
		--frame-fg: rgb(0 0 0 / 100%);

		--tabs-activated-shadow:
			0 1px 4px -1px rgb(255 255 255 / 28.2%), inset 0 0 0 1px rgb(0 0 0 / 20%);
		--nav-btn-active-shadow:
			inset 0 0 0 1px rgb(0 0 0 / 30%), 0 1px 3px 0 rgb(255 255 255 / 21.2%);
		--frame-el-overlay-hover-bg: rgb(0 0 0 / 12.5%);
	}
}

#root.root {
	--general-border-radius: 6px;
	--tabs-font: 0.8125rem -apple-system;
	--tabs-count-font: 0.5625rem PragmataPro;

	--tabs-activated-bg: var(--frame-el-overlay-hover-bg);
	--nav-hidden-btn-border-radius: var(--general-border-radius);
	--nav-btn-border-radius: var(--general-border-radius);
	--btn-border-radius: var(--general-border-radius);
	--notification-border-radius: var(--general-border-radius);
	--ntb-border-radius: var(--general-border-radius);
	--search-border-radius: var(--general-border-radius);
	--slt-border-radius: var(--general-border-radius);
	--ctx-menu-border-radius: var(--general-border-radius);
	--ctx-menu-opt-border-radius: var(--general-border-radius);
	--history-item-border-radius: var(--general-border-radius);
	--bookmarks-border-radius: var(--general-border-radius);
	--tabs-border-radius: var(--general-border-radius);
}
