Gist.sublime-settings
* (SL).tmTheme
Package Control.cache
*.cache
Evernote.*
Package Control.ca-bundle
Package Control.ca-list
Package Control.last-run
Package Control.system-ca-bundle
vim/.vim/plugged/
vim/.vim/autoload/plug.vim*
weechat/logs
weechat/sec.conf
weechat/weechat.log
weechat/irc.conf
weechat/urls.log
mail/mutt/cache
mail/mutt/tmp
*.itermcolors
