vim/.vim/plugged/
vim/.vim/tmp/
vim/.vim/autoload/plug.vim*
irc/.weechat/*
!irc/.weechat/buflist.conf
!irc/.weechat/irc.conf
!irc/.weechat/weechat.conf
!irc/.weechat/plugins.conf
mail/.mutt/config/aliases
mail/.mutt/cache
mail/.mutt/tmp
mail/.mutt/certificates
mail/.mutt/secure-ca.cert
*.itermcolors
scratch
newsbeuter/.newsbeuter/history.*
newsbeuter/.newsbeuter/cache.*

