files/.vim/pack/
files/.vim/tmp/
files/.vim/autoload/plug.vim*
files/.weechat/*
!files/.weechat/buflist.conf
!files/.weechat/irc.conf
!files/.weechat/weechat.conf
!files/.weechat/plugins.conf
!files/.weechat/sec.conf
files/.mutt/config/aliases
files/.mutt/cache
files/.mutt/tmp
files/.mutt/certificates
files/.mutt/secure-ca.cert
*.itermcolors
**/iTerm2/version.txt
scratch
files/.newsboat/history.*
files/.newsboat/cache.*
files/.newsboat/queue
files/.hammerspoon/Spoons/*
!files/.hammerspoon/Spoons/SpoonInstall.spoon
!files/.ignore
*.old
.zcompdump
.zcompcache
.zhistory
log.*.txt
*.spl
*.sug
files/.config/mpv/watch_later
files/.config/rtv/*.log
files/.config/rtv/*-token
files/.config/ranger/bookmarks
files/.config/ranger/history
files/.config/ranger/tagged
files/.mail/.notmuch/
!files/.mail/.notmuch/hooks
.zplugin
