set -e
set +u

use flake

dotenv_if_exists

watch_file .env .nvmrc .node-version

export VOLTA_HOME=$HOME/.volta

PATH_add "$VOLTA_HOME/bin"

# These are for direnv
export NODE_VERSIONS="$VOLTA_HOME/tools/image/node/"
export NODE_VERSION_PREFIX=""
export __DIRENV_NODE_VERSION__

if [ -f "./.nvmrc" ]; then
	__DIRENV_NODE_VERSION__="$(<./.nvmrc)"
elif [ -f "./.node-version" ]; then
	__DIRENV_NODE_VERSION__="$(<./.node-version)"
fi

# We only install it, direnv will load it
volta install node@"$__DIRENV_NODE_VERSION__"

use node "$__DIRENV_NODE_VERSION__"

# layout node
