snippet html5
<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="wrap">
			$0
		</div>
	</body>
</html>
endsnippet

snippet code
<code>${1}</code> $0
endsnippet
# vim:ft=snippets:
