.mail
.config/notmuch/config
!.mail/.notmuch/hooks/{pre-new,post-new,post-insert}
.config/neomutt/config/aliases
.config/neomutt/config/hooks.mutt
.config/neomutt/tmp
.config/neomutt/certificates
.config/neomutt/secure-ca.cert
.config/neomutt/accounts/*
!.config/neomutt/accounts/init.lua
