; vim: ft=gitconfig

[user]
  useconfigonly = true

[gpg]
  program = /usr/local/bin/gpg

[commit]
  verbose = true
  gpgsign = true

[core]
  editor = $EDITOR
  commitGraph = true
  whitespace=fix,space-before-tab,tab-in-indent,trailing-space,cr-at-eol
  excludesfile = ~/.git.d/.gitignore
  attributesfile = ~/.git.d/.gitattributes
  ; https://news.ycombinator.com/item?id=11388479
  untrackedCache = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  ; # conflicts with Markdown
  commentChar = %
  hooksPath = ~/.git.d/hooks

[branch]
  autosetupmerge = always
  autosetuprebase = always

[branch "master"]
  rebase = true

[pull]
  rebase = true

[push]
  default = simple
  followTags = true

[fetch]
  prune = true

[rebase]
  autosquash = true
  instructionFormat = [%cn <%ce> %G?] %s
  autoStash = true

[diff]
  # Detect copies as well as renames
  renames = copies
  algorithm = histogram
  tool = vimdiff
  indentHeuristic = true
  colorMoved = zebra

[difftool]
  prompt = false
  trustExitCode = true

[diff "exif"]
  textconv = exiftool

[diff "plist"]
  textconv = plutil -convert xml1 -o -

[difftool "vimdiff"]
  cmd = $EDITOR -d $LOCAL $REMOTE

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = 1000
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  trustExitCode = true
  keepBackup = false
  prompt = false

[mergetool "vimdiff"]
  cmd = $EDITOR -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "fugitivediff"]
  cmd = $EDITOR -f -c "Gdiff" "$MERGED"

[log]
  decorate = short
  date = local

[status]
  submodulesummary = true
  color = true

[tag]
  forceSignAnnotated = true

[apply]
  whitespace = nowarn

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red strike
  new = green italic
  whitespace = red reverse
  commit = 227 bold

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "diff-highlight"]
  oldNormal = red strike
  oldHighlight = red 52 strike
  newNormal = green italic
  newHighlight = green 22 italic

[pager]
  show = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
  diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '

; https://github.com/so-fancy/diff-so-fancy/issues/296
; [interactive]
;   diffFilter = diff-so-fancy --patch-mode | less --tabs=4 -RFX

[alias]
  amend = commit --amend -C HEAD
  blm = blame -wMC
  br = branch
  brs = branch --sort=-committerdate --all --verbose
  cb = checkout -b
  cm = commit
  co = checkout
  d = diff --patch-with-stat
  dc = d --staged
  dm = d --word-diff-regex=.
  doctor = remote -v show origin
  fl = l -u
  grr = grep --break --heading --line-number
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  hidden = !git ls-files -v | grep \"^[a-z]\"
  l = log --graph --pretty=format:\"%C(blue)%h %Creset- %C(green)(%cr) %Creset%s - %C(cyan)%aN %C(magenta)%d\" --date=short
  lme = "!sh -c \"git l $@ --author=\"$NAME\"\""
  la = l --all --simplify-by-decoration
  lastchange = log -p --follow -n 1
  ll = log --cc
  lnm = l --no-merges
  patch = !git --no-pager diff --no-color | pbcopy | echo "Patch copied to clipboard"
  rb = "!sh -c \"git rebase -i HEAD~$1\" -"
  recentall = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
  recentlocal = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short) [%(committername)]'
  st = status -sb
  stashes = stash list
  track = push origin -u HEAD
  undo = reset --soft HEAD^
  who = shortlog -sne
  wt = whatchanged --pretty=format:\"%C(blue)%h %Creset- %C(green)(%cr) %C(cyan)<%aN> %Creset%aE %C(magenta)%d %n %C(yellow)%s %n%Creset\" --date=short
  unpushed-branches = log --branches --not --remotes --no-walk --decorate --oneline

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
# https://git-scm.com/docs/git-config#git-config-transferfsckObjects
[transfer]
  fsckObjects = true
[fetch]
  fsckObjects = true
[receive]
  fsckObjects = true

# URL shorthands
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@gitlab.com:"]
  insteadOf = gl:
  pushInsteadOf = gitlab:
  pushInsteadOf = git://gitlab.com/

[url "git://gitlab.com/"]
  insteadOf = gitlab:

[url "git@bitbucket.org:"]
  insteadOf = bb:
  pushInsteadOf = bitbucket:
  pushInsteadOf = git://bitbucket.org/

[url "git://bitbucket.org/"]
  insteadOf = bitbucket:

[credential]
  helper = osxkeychain

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[include]
  path = ~/.gitconfig.local
