email=${NPM_EMAIL}
init-license=MIT
init-author-email=${NPM_EMAIL}
init-author-name=${NPM_NAME}
init-author-url=${NPM_URL}
init-version=0.0.1
registry=https://registry.npmjs.org/
@lightspeed:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
