email=${NPM_EMAIL}
init-license=MIT
init-author-email=${NPM_EMAIL}
init-author-name=${NPM_NAME}
init-author-url=${NPM_URL}
init-version=0.0.1
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
registry=https://registry.npmjs.org/
@lightspeed:registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=${GITHUB_PKGS_TOKEN}
@ahmedelgabri:registry=https://npm.pkg.github.com/
@lightspeedretail:registry=https://npm.pkg.github.com/
